.mapContainer {
  position: relative;
  width: 100%;
  height: 100%;
  color: #000; // Todas as letras pretas dentro do container
}

.mapPlaceholder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #000; // Letras pretas no placeholder também
}

.title {
  height: 35px;
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}